* {
    font-size: 10px;
}
li {
    list-style-type: none;
    
    
}
a {
    text-decoration: none;
    font-size: 2rem;
    color: black
}
.navhead {
    height: 70px;
    display: flex;
    /* justify-content: space-around; */
    width: 100vw;
    align-items: center;
}
.login {
    display: flex;
    width: 25vw;
    justify-content: center;
}
.login li {
    margin: 0 3rem;
}
.login li a {
    font-size: 1.5rem;
}
.navLinks {
    display: flex;
    width: 35vw;
    justify-content: space-around;
    font-family: 'Prata', serif;
    font-size: 1.5rem;
}
.compName {
    width: 40vw;
    display: flex;
    justify-content: center;
    font-family: 'Prata', serif;
}
.compName h1 {
    font-size: 2rem;
}
/* main page card */

.mainCardHold {
    width: 100vw;
    height: 60vh;
    background-color: #E7F2F3;
}